* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #f4f4f9;
}

h2, h3 {
  color: #2c3e50;
  margin-bottom: 10px;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f7;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

/* Button Styles */
button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #2980b9;
}

.circle-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%; /* Circular shape */
  padding: 10px;
  width: 40px; /* Ensure width and height are equal */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem; /* Adjust font size */
}

.circle-button:hover {
  background-color: #0056b3;
}

/* Input Styles */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

/* List Styles */
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space evenly */
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.item-label {
  flex: 1; /* Takes available space, aligning buttons */
}

.count {
  margin: 0 10px; /* Space between count and buttons */
}

li:last-child {
  border-bottom: none;
}

/* Leaderboard Specific Styles */
.leaderboard {
  text-align: center;
  margin-top: 20px;
}

.leaderboard ul li {
  font-weight: bold;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.message {
  position: absolute;
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  animation: fadeIn 0.2s ease;
  display: inline-block; /* Ensures alignment */
  transform-origin: top; /* Aligns shaking effect */
}

.red {
  background-color: red;
}

.shake {
  animation: textShake 0.1s ease infinite;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes textShake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-2px); }
  40%, 80% { transform: translateX(2px); }
}